.atom-ui-color-picker {
  width: inherit !important;
}

.atom-ui-color-picker .react-colorful {
  margin: 5px 0 5px 2px;
  height: 200px;
}

.atom-ui-color-picker .react-colorful__pointer {
  width:  20px;
  height: 20px;
}
